.paperStyle  {
    padding:0px 15px 10px 20px !important;
    width:300px !important;
    margin:50px auto !important;
 }
.header {
    margin:3px !important;
}
.avatarStyle {
    background-color:gray !important;
}
.buttonMargin  {
    margin-top :10px !important;
     color:gray !important;
      border:'2px solid' !important;
      border-color: black !important;
}

.errorMessage {
    color: red;
}