.paperStyle{
    padding: 30px 20px;
    width:300px;
    margin: 30px auto
} 

.buttonMargin {
    margin-top :10px;
    color:gray; 
    border:5px solid;
    background-color: aqua;
}

.header {
    margin:3px
}