.paperStyle {
    padding:30px 20px;
    width:300px;
    margin:50px auto
}
.header {
    margin:3px
}
.avatarStyle {
    background-color:gray
}
.buttonMargin {
    margin-top :10px; 
    color:gray; 
    border:2px solid
}